*{
    margin: 0;
    padding:0;
 }

body{
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-size: 100% 100%;
}

ul{
    list-style-type:none; 
    position:fixed; 
    margin:0;                 
    background-color:#042331; 
    width:100%;
    padding:0; 
    overflow: hidden;
    animation: open 1s;
}
li{
    float:left;
}

.nav li a{
    display:block;
    color:white;
    padding: 10px; 
    text-decoration: none; 
    box-sizing: border-box; 
    font-size:12.5px; 
    font-family: courier; 
    line-height: 15px;
    background-color: #042340;
    width: 98px;
    height: 55px;
    animation: open 2s;
}
#htmlba{
    animation: open 2.4s;
}
#htmlhe{
    animation: open 2.7s;   
}
#htmlpa{
    animation: open 3s;
}
homebutton{
    width:15px; 
    height:20px;
}
.home img{
    width: 30px;
    padding: 0;
    margin: 0;
}
.title{
    text-align:center;
    font-family:courier;
    font-size:50px;
    animation: open 4s;
    color: #fff;
}
@keyframes open{
    0%{
        opacity: 0;        
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.credits{
    font-size: 70%;
    padding: 10px;
    color: #fff;
    background-color: #000;
    animation: open 1s;
    position: fixed;
    width: 100%;
}
#subtitle{
    margin-top: 10px, 10px, 10px, 10px;
    text-align:center;
    font-family:courier;
    font-size: 35px;
    animation: open 4s;
    color: #fff;    
}
#subsubtitle{
    margin-top: 20px;
    text-align:center;
    font-family:courier;
    font-size:25px;
    animation: open 4s;
    color: #fff;
}

#basic{           
           margin: 40px 10px 40px 10px;           
           border-radius: 10px;
           box-shadow: 0 0 20px #000;
           height: 200px;
           overflow: scroll;
           background-color: #7fd9ad;
           animation: open 4.7s;
           padding: 10px;
}
#basic h1{
    font-family: courier;
    position: relative;
    left: 10px;
    top: 90px;
    font-size: 25px;
}
#basic h3{
    font-family: courier;    
}
#basic button{
    background-color: #91ff80;
    border-radius: 50px;
    padding: 10px;
    margin: 7px 10px 10px 200px;
    float: 120px;
    border: none;
    width: 150px;
}
#titlecontainer{
    margin-top: 150px;
    margin-bottom: 70px;
}   


#head{           
           margin: 40px 10px 40px 10px;           
           border-radius: 10px;
           box-shadow: 0 0 20px #000;
           height: 200px;
           overflow: scroll;
           background-color: #d9a27f;
           animation: open 4.7s;
           padding: 10px;
}
#head h1{
    font-family: courier;
    position: relative;
    left: 10px;
    top: 80px;
    font-size: 25px;
    margin-bottom: 0px;
}
#head h3{
    font-family: courier;    
}
#head button{
    background-color: #91ff80;
    border-radius: 50px;
    padding: 10px;
    margin: 7px 10px 10px 200px;
    float: 120px;
    border: none;
    width: 150px;
}
#reflection{           
           margin: 40px 10px 40px 10px;           
           border-radius: 10px;
           box-shadow: 0 0 20px #000;
           height: 200px;
           overflow: scroll;
           background-color: #e586ab;
           animation: open 4.7s;
           padding: 10px;
}
#reflection h1{
    font-family: courier;
    position: relative;
    left: 10px;
    top: 90px;
    font-size: 25px;
}
#reflection h3{
    font-family: courier;    
}
#reflection button{
    background-color: #91ff80;
    border-radius: 50px;
    padding: 10px;
    margin: 7px 10px 10px 200px;
    float: 120px;
    border: none;
    width: 150px;
}
#about{           
           margin: 40px 10px 40px 10px;           
           border-radius: 10px;
           box-shadow: 0 0 20px #000;
           height: 200px;
           overflow: scroll;
           background-color: #dfb882;
           animation: open 4.7s;
           padding: 10px;
}
#about h2{
          padding: 20px;
          font-family: courier;
          text-align: center;
}
#about p{
    padding: 15px;    
}
#copyright h3{
    font-family: courier;
    
}